<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      </a>
    </div>
  </div>
</nav>

<div class="container container-fluid">
  <header>
    <img src="picture" alt="">
    <h2>Adrian Meza</h2>
    <h3>Web Developer</h3>

  </header>
  <section id="profile">
    <div class="title-container">
      <h3 class="title-text">Profile</h3>
    </div>
    <article class="box-container">
      <p class="box-text"></p>
    </article>
  </section>
  <section id="experiencie">
    <div class="title-container">
      <h3 class="title-text">Experiencie</h3>
    </div>
    <article class="box-experiencie-container">
      <div class="box-experiencie-title">
        <h4 class="box-experiencie-text">BanregioLabs</h4>
      </div>
      <div class="box-experiencie-date-container">
        <span class="box-experiencie-date">2017 - Actual</span>
      </div>
      <div class="box-experiencie-content">
        <p class="box-experiencie-content-text">Desarrollo de aplicaciones bancarias</p>
      </div>
    </article>
    <article class="box-experiencie-container">
      <div class="box-experiencie-title">
        <h4 class="box-experiencie-text">BanregioLabs</h4>
      </div>
      <div class="box-experiencie-date-container">
        <span class="box-experiencie-date">2017 - Actual</span>
      </div>
      <div class="box-experiencie-content">
        <p class="box-experiencie-content-text">Desarrollo de aplicaciones bancarias</p>
      </div>
    </article>
    <article class="box-experiencie-container">
      <div class="box-experiencie-title">
        <h4 class="box-experiencie-text">BanregioLabs</h4>
      </div>
      <div class="box-experiencie-date-container">
        <span class="box-experiencie-date">2017 - Actual</span>
      </div>
      <div class="box-experiencie-content">
        <p class="box-experiencie-content-text">Desarrollo de aplicaciones bancarias</p>
      </div>
    </article>
  </section>
  <section id="technologies">

  </section>
  <section id="stuff">

  </section>
  <section id="contact">

  </section>
</div>
